<html>
<head>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-if='show'>You can see me!</p>
        <p v-else>Do you also see me?</p>

        <template v-if='show'>
            <h1>heading</h1>
            <p>Inside a template</p>
        </template>

        <input type="checkbox" v-model='show'>

    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                'show':true
            },
        })
    </script>
</body>
</html>